/* .navbar-nav>.active>a {
    background-color: #ffffff;
    color: green;
} */
nav a.active {
  font-weight: bold;
  text-decoration: underline;
}

.center {
  margin-left: auto;
  margin-right: auto;
}


#aa {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px;
  /* border: 1px solid red; */
}

#bb {
  /* animation: moving-bars 4s linear infinite; */
  -webkit-animation: show-bar-three-vertical 1.2s 0.3s forwards;
  text-align: center;
}

/* @keyframes moving-bars {
    0%  { transform: translateY( 100% ); }
    15% { transform: translateY( 0 ); }
  } */
@-webkit-keyframes show-bar-three-vertical {
  0% {
    height: 0;
  }

  100% {
    transform: translateY(0);
  }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 80vh;
  background: #245953;
  box-sizing: content-box;
}

#hero .container {
  padding-top: 72px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero h2 {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 50px;
  font-size: 24px;
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

#hero .btn-get-started {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px 11px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px 0 0 0;
  /* font: bold; */
  color: #282b2d;
  background: #c6cbd5;
}

#hero .btn-get-started:hover {
  background: #408E91;
  color: floralwhite;
}

@media (max-width: 991px) {
  #hero {
    height: 100vh;
    text-align: center;
  }

  #hero .animated {
    animation: none;
  }

  #hero .hero-img {
    text-align: center;
  }

  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f3f5fa;
}

.section-title {
  text-align: center;
  /* padding-bottom: 30px; */
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #245953;
  /* top: 12px; */
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #7c9cf5;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}

/* Bar Graph Vertical */
.bar-graph .nametechnologie {
  -webkit-animation: fade-in-text 2.2s 0.1s forwards;
  -moz-animation: fade-in-text 2.2s 0.1s forwards;
  animation: fade-in-text 2.2s 0.1s forwards;
}

.bar-graph-vertical {
  margin-top: 80px;
  max-width: 680px;
}

.bar-graph-vertical .bar-container {
  float: left;
  height: 300px;
  margin-right: 8px;
  position: relative;
  text-align: center;
  width: 40px;
}

.bar-graph-vertical .bar {
  border-radius: 3px;
  bottom: 50px;
  position: absolute;
  width: 40px;
}

.bar-graph-vertical .nametechnologie {
  bottom: 0;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
}

.bar-graph-two .bar::after {
  -webkit-animation: fade-in-text 2.2s 0.1s forwards;
  -moz-animation: fade-in-text 2.2s 0.1s forwards;
  animation: fade-in-text 2.2s 0.1s forwards;
  color: #fff;
  content: attr(data-percentage);
  font-weight: 700;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  text-align: left;
  top: 10px;
}

.bar-graph-two .bar-one .bar {
  -webkit-animation: show-bar-one-vertical 1.2s 0.1s forwards;
  -moz-animation: show-bar-one-vertical 1.2s 0.1s forwards;
  animation: show-bar-one-vertical 1.2s 0.1s forwards;
}

/* Bar Graph Vertical Animations */
@-webkit-keyframes show-bar-one-vertical {
  0% {
    height: 0;
  }

  100% {
    height: 40%;
  }
}

@-webkit-keyframes fade-in-text {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
#about .content h3 {
  font-weight: 700;
  font-size: 32px;
  color: #37517e;
  font-family: "Poppins", sans-serif;
}

#about .content p:last-child {
  margin-bottom: 0;
}

/* my application */


.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  margin: 20px;
  position: relative;
  max-width: 250px;
  max-height: 350px;
  box-shadow: 0 40px 60px -6px #245953;
}

.card-title {
  display: block;
  text-align: center;
  color: #fff;
  background-color: #408E91;
  padding: 2%;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  margin-bottom: 0px !important;
}

.card img {
  width: 100%;
  height: 98%;
  object-fit: cover;
  display: block;
  position: relative;
}

.card-desc {
  display: block;
  font-size: 1.2rem;
  position: absolute;
  height: 0;
  top: 0;
  opacity: 0;
  padding: 18px 8%;
  background-color: rgba(255, 255, 255, 0.596);
  overflow-y: scroll;
  transition: 0.8s ease;
  width: 100%;
  height: 100%;
}

.card:hover .card-desc {
  opacity: 1;
}

#h2title {
  font-size: 2rem;
  color: #3D8361;
  margin: 40px 0 20px 0;
  text-align: center;
}

.filtering {
  margin-bottom: 40px;
}

.filtering span {
  border-bottom: 2px solid transparent;
  color: #282b2d;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-right: 20px;
  display: inline-block;
  margin-bottom: 5px;
}

.filtering span:last-child {
  margin: 0;
}

.filtering .active {
  border-color: #ccde02;
  /* color: #ccde02; */
  color: #B3C99C;
}

/* contact */
#h1contact {
  margin: 0 0 20px;
  font-weight: 400;
  color: #245953;
}

#pcontacte {
  margin: 0 0 5px;
}

.main-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  /* background: #245953; */
}

form {
  padding: 25px;
  margin: 25px;
  /* box-shadow: 0 2px 5px #245953;  */
  box-shadow: 0 40px 60px -6px #245953;
  /* background: #408e91c0;  */
}

.left-part .fas {
  margin: 0px 10px 0;
  font-size: 72px;
  color: #245953;
  animation: example 2s ease-in-out infinite alternate-reverse both;
}
/* .fas .fa-at {
  margin: 0px 10px;
} */

.fab {
  margin: 25px 10px 0;
  font-size: 72px;
  color: #245953;
  animation: example 2s ease-in-out infinite alternate-reverse both;
}

.fa-github {
  transform: rotate(-20deg);
}

/* .fa-at,
.fa-mail-bulk {
  transform: rotate(10deg);
} */

#inputcontact,
textarea {
  width: calc(100% - 18px);
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #245953;
  outline: none;
}

#inputcontact::placeholder {
  color: #666;
}

#btnC {
  width: calc(100% - 18px);
  padding: 10px;
  border: none;
  background: #245953;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

#btnC:hover {
  background: #4b7772;
}

@media (min-width: 568px) {
  .main-block {
    flex-direction: row;
  }

  .left-part,
  form {
    width: 50%;
  }

  .fa-github {
    margin-top: 0;
    margin-left: 20%;
    /* animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite; */
  }

  @keyframes example {
    0% {
      transform: translateY(10px);
    }

    100% {
      transform: translateY(-10px);
    }
  }

  .fa-at {
    margin-top: -10%;
    margin-left: 65%;
  }

  /* .fa-linkedin {
    margin-top: 0%;
    margin-left: 20%;
  } */

  /* .fa-mail-bulk {
    margin-top: 2%;
    margin-left: 28%;
  } */

  .fa-linkedin {
    margin-top: 4%;
    margin-left: 10%;
  }

  .fa-linkedin {
    transform: rotate(-10deg);
  }
}

.fa-thumbs-up {
  font-size: 72px;
  animation: example 2s ease-in-out infinite alternate-reverse both;
}

/* loading  */
.loading-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;

  z-index: 100;
  background-size: 15%;
}

#loading-snipper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
}

.dash {
  margin: 0 15px;
  width: 35px;
  height: 15px;
  border-radius: 8px;
  background: #1e755f;
  box-shadow: 0 0 10px 0 #FECDFF;
}

.uno {
  margin-right: -18px;
  transform-origin: center left;
  animation: spin 3s linear infinite;
}

.dos {
  transform-origin: center right;
  animation: spin2 3s linear infinite;
  animation-delay: .2s;
}

.tres {
  transform-origin: center right;
  animation: spin3 3s linear infinite;
  animation-delay: .3s;
}

.cuatro {
  transform-origin: center right;
  animation: spin4 3s linear infinite;
  animation-delay: .4s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(360deg);
  }

  30% {
    transform: rotate(370deg);
  }

  35% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin2 {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(0deg);
  }

  30% {
    transform: rotate(-180deg);
  }

  35% {
    transform: rotate(-190deg);
  }

  40% {
    transform: rotate(-180deg);
  }

  78% {
    transform: rotate(-180deg);
  }

  95% {
    transform: rotate(-360deg);
  }

  98% {
    transform: rotate(-370deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@keyframes spin3 {
  0% {
    transform: rotate(0deg);
  }

  27% {
    transform: rotate(0deg);
  }

  40% {
    transform: rotate(180deg);
  }

  45% {
    transform: rotate(190deg);
  }

  50% {
    transform: rotate(180deg);
  }

  62% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  80% {
    transform: rotate(370deg);
  }

  85% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin4 {
  0% {
    transform: rotate(0deg);
  }

  38% {
    transform: rotate(0deg);
  }

  60% {
    transform: rotate(-360deg);
  }

  65% {
    transform: rotate(-370deg);
  }

  75% {
    transform: rotate(-360deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}